CompileFlags:
  Remove:
    - "-forward-unknown-to-host-compiler"
    - "--generate-code=*"
    - "--expt-relaxed-constexpr"
  Add:
    - "-Iinclude"
    - "-Ithird_party/cli11/include"
    - "-Ithird_party/jsoncpp/include"
    - "-Ithird_party/spdlog/include"
    - "-Ithird_party/linenoise"
    - "-Isrc"
    - "-I/usr/local/cuda/include"