[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/cli11"]
	path = third_party/cli11
	url = https://github.com/CLIUtils/CLI11.git
